---
import DomainChooser from "@/components/domainChooser.astro";
import TitleList from "@/components/TitleList.astro";
import { categorizedFeeds } from "@/constants/categorizedFeeds";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { feedUrlToJson } from "@/utils/rssParser";
export function getStaticPaths() {
  const paths = Object.keys(categorizedFeeds).map((categoryName) => {
    return { params: { category: categoryName } };
  });
  // console.log(paths);
  return paths;
}

const { category } = Astro.params;

const feedPromises = categorizedFeeds[category].map((feedData) => {
  return feedUrlToJson(feedData.url);
});

const feed = await Promise.all(feedPromises);
// console.log(">>>>>>>", feed);
---

<BaseLayout>
  <DomainChooser
    category={category}
    domains={categorizedFeeds[category].map((feedData) => feedData.domain)}
  />
  <h1 class="p-3 text-2xl font-bold">{category}</h1>
  <main class="p-3 flex flex-col gap-4">
    {
      feed.map((feedData, i) => {
        // console.log(categorizedFeeds[category][i].domain);
        // console.log(i, categorizedFeeds[category][i]);
        // console.log(feedData);

        return (
          <TitleList
            feedData={feedData}
            domain={categorizedFeeds[category][i].domain}
          />
        );
      })
    }
  </main>
</BaseLayout>
