---
import { feedUrlToJson } from "@/utils/rssParser";
const { feedData } = Astro.props;

const domain = feedData.domain;
const url = feedData.url;

const feed = await feedUrlToJson(url);
---

<section id={`${domain}`}>
  <h2 class="text-xl font-bold mb-2">{domain}</h2>
  <ul class="list-decimal flex flex-col list-inside gap-1.5">
    {
      feed.length > 0 ? (
        feed.slice(0, 5).map((data) => {
          return (
            <li>
              <a href={data.link} target="_blank">
                {data.title}
              </a>
            </li>
          );
        })
      ) : (
        <p>Nothing today</p>
      )
    }
  </ul>
</section>
